<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% if all_colors_of_products %>
        <% all_colors_of_products.each do |color| %>
          <li>
            <%= link_to potepan_category_path(taxon.id, color: color.name) do %>
              <%= color.name %><span>(<%= filter_by_color(color.name).size %>)</span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
