<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% if all_size_of_products %>
        <% all_size_of_products.each do |size| %>
          <li>
            <%= link_to potepan_category_path(taxon.id, size: size.name) do %>
              <%= size.name %><span>(<%= filter_by_size(size.name).size %>)</span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
