<div class="panel panel-default">
  <div class="panel-heading"><%= 'カテゴリーから探す' %></div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each_with_index do |taxonomy, i| %>
          <li>
            <%= link_to "javascript:;", 'data-toggle': :collapse, 'aria-expanded': false, 'data-target': :"#category-#{i}" do %>
              <%= taxonomy.name %><i class="fa fa-plus"></i>
            <% end %>
            <ul id="category-<%= i %>" class="collapse collapseItem">
              <% taxons_related_taxonomy = taxons.where(taxonomy_id: taxonomy.id) %>
              <% taxons_related_taxonomy.each do |taxon| %>
                <% if taxon.products.size > 0 %>
                  <li>
                    <%= link_to potepan_category_path(taxon.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                      <%= taxon.name %><span> (<%= taxon.products.count %>)</span>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
