<%= provide :title, @taxon.name %>
<div class="main-wrapper">
  <%= render 'shared/header' %>
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2><%= @taxon.name %></h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li>
              <%= link_to 'Home', potepan_index_path %>
            </li>
            <li>
              <%= link_to 'Shop', '#' %>
            </li>
            <li class="active">
              <%= @taxon.name %>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'filter_by_category', taxons: @taxons, taxonomies: @taxonomies %>
          <%= render 'filter_by_color', taxon: @taxon, all_colors_of_products: @all_colors_of_products %>
          <%= render 'filter_by_size', taxon: @taxon, all_size_of_products: @all_size_of_products %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <div class="col-xs-6">
              <form id="submit_form", method="get", action="<%= potepan_category_path(@taxon.id)%>">
                <select name="sort" id="guiest_id1" class="select-drop">
                  <option value="NEW_PRODUCTS" <%= selected="selected" if @selected == "NEW_PRODUCTS" %>>新着順</option>
                  <option value="LOW_PRICE" <%= selected="selected" if @selected == "LOW_PRICE" %>>安い順</option>
                  <option value="HIGH_PRICE" <%= selected="selected" if @selected == "HIGH_PRICE" %>>高い順</option>
                  <option value="OLD_PEODUCTS" <%= selected="selected" if @selected == "OLD_PRODUCTS" %>>古い順</option>
                </select>
              </form>
            </div>
            <div class="col-xs-6">
              <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default active" onclick="window.location.href=<%= potepan_category_path(@taxon) %>">
                  <i class="fa fa-th" aria-hidden="true"></i>
                  <span>Grid</span></button>
                <button type="button" class="btn btn-default" onclick="window.location.href='#'">
                  <i class="fa fa-th-list" aria-hidden="true"></i>
                  <span>List</span></button>
              </div>
            </div>
          </div>
          <div class="row">
            <%= render 'product_grid', products: @products %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'shared/partners_logo_slider' %>
</div>
