<% products.each do |product| %>
  <div class="col-sm-3 col-xs-12">
    <div class="productBox">
      <%= link_to potepan_product_path(product.id) do %>
        <div class="productImage clearfix">
          <%= image_tag(product.images.first ? product.images.first.url(:product) : Spree::Image.new.url(:product)) %>
        </div>
        <div class="productCaption clearfix">
          <h5><%= product.name %></h5>
          <h3><%= product.display_price%></h3>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
