<%= provide :title %>
<div class="main-wrapper">
  <%= render 'shared/header' %>
  <%= render 'shared/banner' %>
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'shared/popular_categories' %>
      <%= render 'shared/new_arrival_products', new_arrival_products: @new_arrival_products %>
    </div>
  </section>
  <%= render 'shared/partners_logo_slider' %>
</div>
