<%= provide :title, @product.name %>
<div class="main-wrapper">
  <%= render 'shared/header' %>
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2><%= @product.name %></h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li>
              <%= link_to 'Home', potepan_index_path %>
            </li>
            <li class="active">
              <%= @product.name %>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @images.each_with_index do |image, i| %>
                    <div class="item <%= "active" if i== 0 %>" data-thumb="<%= i %>">
                      <%= image_tag(image.url(:large)) %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <% @images.each_with_index do |image, i| %>
                        <div data-target="#carousel" data-slide-to="<%= i %>" class="thumb">
                          <%= image_tag(image.url(:product)) %>
                        </div>
                    <% end %>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-body">
              <ul class="list-inline">
                <li>
                  <%= link_to potepan_category_path(@taxon_id) do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                  <% end %>
                </li>
              </ul>
              <h2><%= @product.name %></h2>
              <h3><%= @product.display_price %></h3>
              <p><%= @product.description %></p>
              <span class="quick-drop">
                <select name="product_size" id="guiest_id3" class="select-drop">
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                </select>
              </span>
              <span class="quick-drop resizeWidth">
                <select name="number_of_orders" id="guiest_id4" class="select-drop">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </span>
              <div class="btn-area">
                <%= link_to "#", class: "btn btn-primary btn-block" do %>
                  カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/related_products', related_products: @related_products %>
    </div>
  </section>
</div>
