<div class="row featuredProducts">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>新着商品</h4>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="owl-carousel featuredProductsSlider">
      <% new_arrival_products.each_with_index do |product, i| %>
        <div class="slide">
          <%= link_to potepan_product_path(product.id) do %>
            <div class="productImage <% 'clearfix' if i==0 %>">
              <%= image_tag(product.images.first ? product.images.first.url(:product) : Spree::Image.new.url(:product)) %>
            </div>
            <div class="productCaption <% 'clearfix' if i==0 %>">
              <h5><%= product.name %></h5>
              <h3><%= product.display_price %></h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
