<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>人気カテゴリー</h4>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" >
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-01.jpg", :alt => "feature-collection-image") %>
        <div class="masking">
          <%= link_to 'View T-Shirts', potepan_category_path(7), class: "btn viewBtn" %>
        </div>
      </div>
      <div class="caption">
        <%= link_to(potepan_category_path(7)) do %>
          <h4>T-Shirts</h4>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" >
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-02.jpg", :alt => "feature-collection-image") %>
        <div class="masking">
          <%= link_to 'View Bags', potepan_category_path(3), class: "btn viewBtn" %>
        </div>
      </div>
      <div class="caption">
        <%= link_to(potepan_category_path(3)) do %>
          <h4>Bags</h4>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" onclick="#';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-04.jpg", :alt => "feature-collection-image") %>
        <div class="masking">
          <%= link_to 'View Shirts', potepan_category_path(6), class: "btn viewBtn" %>
        </div>
      </div>
      <div class="caption">
        <%= link_to(potepan_category_path(6)) do %>
          <h4>Shirts</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
