<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs">
        <ul class="list-inline">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12">
        <ul class="list-inline pull-right">
          <li class="dropdown searchBox">
            <%= link_to "javascript:void(0)", class: "dropdown-toggle", 'data-toggle': :dropdown do %>
              <i class="fa fa-search"></i>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right">
              <%= form_with url: potepan_products_search_path, id: "form01", method: :get, local: true do |form| %>
                <li>
                  <span class="input-group">
                    <%= form.text_field "searchWord",id: "searchWord", class: "form-control", placeholder: "Search…", 'aria-describedby': "basic-addon2" %>
                    <button><span class="input-group-addon" id="basic-addon2">検索</span></button>
                  </span>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", 'data-toggle': :disabled do %>
              <i class="fa fa-shopping-cart"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
